
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
.main{
    position:absolute;
    width: 100%;
    height: 100%;
   
    top:0;
    left: 0;

   /* background-color: black; */

    /* filter: blur(8px); */

    background-size: cover; 
    /* filter: blur(10px); */
    
}

.container{
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    /* margin-left: 30%; */
    margin-top: 5%;
  

}
.main-form{
    margin-left: 25%;
    
    color: white;
    font-family: 'Lobster', cursive;
    /* width: 100%; */

    letter-spacing: 2px;
    font-size: 1.em;
  
}
.submit-btn{
    margin-top:50px;
    margin-left: 0;
    width:50%
}


@media only screen and (max-width: 600px) {
    body{
        margin: 0;
    }
    .main {
      /* background-color: lightblue; */
        width: 100%;
        margin: 0;
        /* padding:10px; */
    }
    .main-form{
        width: 100%;
        margin: 0;
    }
    .container{
        margin: 0;
        padding:0;
        width:100%;
    }
    .container form{
        width:100%;
        /* padding:10px; */
    }
    .container input{
        width:100%;
    }
    .submit-btn{
        margin-top:50px;
        margin-left: 0;
        width:100%
    }
    .radiodiv{
        display: flex;
        justify-content: space-around;
        /* flex-direction: column; */
        margin-left: -11%;
    }
    .radio input{
        min-height: 20px;
        margin-left: 6px;
    }
  }