
.buttonDiv{
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
input{
  /* margin-top: 0.5%; */
  margin-left: 2px;
  margin-top: 10px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-bottom: 2%;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}


/* select */


.box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

/* .box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
} */

.box select option {
  padding: 30px;
}

/* main form */
body{
 margin-left: 2%;
 margin-right: 2%;
 width: 100%;
}
.mainFrom{
  position: absolute;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* left:10%; */
  width:100%;


}
.generate{
  background-color: green;
  color: white;
  height: 40px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 2%;
}
.generate:hover{
  background-color: gray;
  cursor: pointer;
 

}
.link{
  padding-top: 20px;
  color:black;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
.radiodiv{
  display: flex;
}
.radio{
  display: flex;
  /* flex-direction: column; */
  width: 10%;
  align-items: center;

}
.radio label{
  flex:1;
  /* margin-right: 10px; */
  
  
}
.radio input{
  flex:1;
  margin: 0;
  height: 20px;
}
small{
  margin-left: 20px;
  color: red;
}



@media only screen and (max-width: 600px) {
  .buttonDiv{
    flex-direction: column;
  }
  .link{
  
    width: 100%;
    height: 100%;
   
  }
  .mainFrom{
    margin-top: 240px;
  }

  .mainFrom input{
    width: 100%;
  }
  .mainFrom select{
    /* margin-top: 20px; */
    /* margin-bottom: 40px; */
    width: 100%;
  }
  .mainFrom button{
    /* margin-top: 20px; */
    /* margin-bottom: 40px; */
    width: 100%;
  }
  .box1{
    display: flex;
    flex-direction: column;
  }
  .box1 input{
    margin-top: 20px;
    /* margin-bottom: 40px; */
    width: 100%;
  }
  .box1 select{
    margin-top: 20px;
    /* margin-bottom: 40px; */
    width: 100%;
  }
  .box1 button{
    margin-top: 20px;
    /* margin-bottom: 40px; */
    width: 100%;
  }
  .freUsed{
    display: flex;
    flex-direction: column;
  }
  .freUsed input{
   width: 100%;
  }
  .freUsed button{
   width: 100%;
  }

  small{
    margin-left: 0;
  
  }
}